* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(71, 57, 57);
    margin: 15px;
}

header{
    background-color: rgb(146, 36, 168);
    width: 90%;
    height: 120px;
    margin-left: 5%;
    border-radius: 40px;
    box-shadow: 12px 12px 16px #333;
}

header h1{
    color:rgb(240, 245, 245);
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    text-shadow: 6px 6px 16px rgb(58, 3, 83);
}

header ul{
    display: flex;
    float: left;
}

header ul li{
    margin-left: 50%;
    list-style-type: none;
}

header ul li:hover{
    background-color: rgb(242, 248, 246);
}

header ul li a{
    text-decoration: none;
    color: rgb(230, 238, 235);
    line-height: 30px;
}

header ul li a:hover{
    color: black;
}